@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-950 text-slate-950 dark:text-slate-50 transition-colors m-0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
  }
}

@layer components {
  /* Ruby tag styling for Furigana */
  ruby {
    ruby-position: over;
  }
  
  rt {
    @apply text-xs text-slate-600 dark:text-slate-200;
    font-size: 0.6em;
  }
}
